

/* for google font  */

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/* for tailwind css */
@import "tailwindcss";

/* for flobite */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "flowbite/src/themes/default";


/* font famlily  */
@layer base{
  body{
        font-family: "Hind Siliguri", sans-serif !important;
  }
}

.p {
  color: #fff6df75;
}

.fl {
  display: flex;
  gap: 20px;
}

/* for animations */

@theme {
  /* animate one */
  --animate-rounded1: spin1 6s linear infinite;

  @keyframes spin1 {
    0% {
      top: -50%;
      right: -50px;
    }
    50% {
      top: 50%;
      right: -50px;
    }
    100% {
      top: -50%;
      right: -50px;
    }
  }

  /* animate two */
  --animate-rounded2: spin2 6s linear infinite;

  @keyframes spin2 {
    0% {
      bottom: -50%;
      left: 0;
    }
    50% {
      bottom: 50%;
      left: 0;
    }
    100% {
      bottom: -50%;
      left: 0;
    }
  }

  --animate-rounded3: spin3 8s linear infinite;

  @keyframes spin3 {
    0% {
      transform: translate(0%, -50%);
    }

    25% {
      transform: translate(80%, 0%);
    }

    50% {
      transform: translate(0%, 80%);
    }

    75% {
      transform: translate(-80%, 0%);
    }

    100% {
      transform: translate(0%, -50%);
    }
  }

  --animate-rounded4: spin4 10s ease-in-out infinite;

  @keyframes spin4 {
    0% {
      transform: translate(0%, 40%);
    }

    25% {
      transform: translate(60%, 0%);
    }

    50% {
      transform: translate(0%, -40%);
    }

    75% {
      transform: translate(-60%, 0%);
    }

    100% {
      transform: translate(0%, 40%);
    }
  }

  --animate-rounded5: spin5 12s ease-in-out infinite;

  @keyframes spin5 {
    0% {
      transform: translate(0%, 40%);
    }

    25% {
      transform: translate(-60%, 0%);
    }

    50% {
      transform: translate(0%, -40%);
    }

    75% {
      transform: translate(60%, 0%);
    }

    100% {
      transform: translate(0%, 40%);
    }
  }

  /*  animations blinks */
  --animate-blinkAnmations: wave 1.4s linear infinite;

  @keyframes wave {
    0% {
      transform: scale(0.5);
      opacity: 0.8;
    }

    30% {
      transform: scale(1.5);
      opacity: 0.6;
    }

    60% {
      transform: scale(2.3);
      opacity: 0.3;
    }

    100% {
      transform: scale(3);
      opacity: 0;
    }
  }
 
  /* for blur */
   --animate-blur: blury 3s linear infinite;
   @keyframes blury{
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
   }

}

/* for coustom iframe layer  */

@media (min-width: 1280px) and (max-width: 1350.99px) {
  .box {
    scale: 1.13 !important  ;
  }
}
@media (min-width: 1351px) and (max-width: 1430.99px) {
  .box2 {
    scale: 1.2 !important  ;
  }
}
@media (min-width: 1431px) and (max-width: 1500.99px) {
  .box3 {
    scale: 1.3 !important  ;
  }
}


